<html>
  <head>
    <title> NS Karawang Site Activity </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/special.css" rel="stylesheet">
  </head>
<body>  
  <div class="container">
     <h2> NS Karawang Site Activity </h2>

<form action ="/addtask" method="POST">
       <input id="siteId" type="text" name="siteid" placeholder="add site id">
       <input id="category" type="text" name="category" placeholder="add category">
       <input id="activity" type="text" name="newactivity" placeholder="add activity">    
       <input id="date" type="text" name="date" placeholder="add date">    
       <button onclick="checkEmpty()">Add Activity </button>

       <script>
        document.body.style.backgroundColor = "whte";
        function checkEmpty() {
            var siteId = document.getElementById("siteId").value;
            var category = document.getElementById("category").value;
            var activity = document.getElementById("activity").value;
            var date = document.getElementById("date").value;
            if (activity == "")
              alert("Please fill all data!");
        }
      
      </script>

<!--
    <h2> Added Activity </h2>
    <% for( var i = 0; i < task.length; i++){ %>
<li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
<% } %>
-->

<!-- 
<button formaction="/removetask" type="submit"> Remove </button> 
</form>
    <h2> Completed Activity </h2>
    <% for(var i = 0; i < complete.length; i++){ %>
      <li><input type="checkbox" checked><%= complete[i] %> </li>
<% } %>
  </div>
-->
</form>
</body>
</html>